include include.pug
include js-css.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
			//- title Андрей Сафин – мастер кармических погружений.
		meta(name="description", content="Андрей Сафин избавляет от фобий и страхов, помогает выйти на новый уровень мышления, качественно улучшить жизнь и получить доступ к управлению судьбой через погружения в прошлые жизни.")
		meta(name="keywords" content="Мастер кармичесих погружений, мастер погружений в прошлые жизни, мастер избавления от фобий, мастер избавления от страхов.")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport",  content="width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no")
		//- script.
		//- 	let viewport = document.querySelector("meta[name=viewport]");
		//- 	var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
		//- 	if (is_safari) {
		//- 		//- alert(navigator.userAgent);
		//- 		function w() {
		//- 			this.outerWidth > 575 
		//- 				? viewport.content = "width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" 
		//- 				:  viewport.content = "width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no" 
		//- 			//- alert(this.outerWidth + ', '+  viewport.content);
		//- 		}
		//- 		 w();
		//- 		window.addEventListener('resize', () => { 
		//- 		 w();
		//- 		}, { passive: true });
		//- 	}
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no, viewport-fit=cover")
		<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
		<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta name="format-detection" content="telephone=no"> 

		<meta property="og:locale" content="ru_RU" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Андрей Сафин – мастер кармических погружений." />
		<meta property="og:description" content="Избавляет от фобий и страхов, помогает выйти на новый уровень мышления, качественно улучшить жизнь и получить доступ к управлению судьбой через погружения в прошлые жизни" />
		<meta property="og:url" content="https://safin.pro/" />
		<meta property="og:image" content="img/ogg.png" />
		<meta property="og:site_name" content="Андрей Сафин – мастер кармических погружений." />

		+allcss()
		//- script.
		//- 	function addBlock(elem) {
		//- 		fetch(`parts/${elem}.html`)
		//- 			.then(response => response.text())
		//- 			.then( text => {
		//- 				const wrap = document.querySelector(`#${elem}Wrap`);
		//- 				wrap.insertAdjacentHTML('afterend', text);
		//- 				wrap.previousElementSibling.remove()
		//- 				wrap.remove();

		//- 				if(elem === 'footer') {
		//- 					let now = new Date();
		//- 					let currentYear = document.querySelector('.footer__wrap p span');
		//- 					if (currentYear) currentYear.innerText = now.getFullYear();
		//- 				}
		//- 			});
		//- 	}
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg)
		.main-wrapper
			block pagecontent
				h3 content
		

		+allcjs()
		block scripts